# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


note.txt
/public/temp/
src/app/admincp/discord/backup.txt
src/app/admincp/roles/backup.txt
src/app/admincp/settings/backup.txt
src/app/admincp/store/backup.txt
src/app/admincp/users/backup.txt
src/app/c/\[token]/backup.txt

public/DELETE_AFTER_SETUP/hidden.sql
